.errorAuth{
    text-align: center;
    color: #fff;
    background-color: #d81630;
    padding: 10px;
    font-weight: 900;
    width: 400px;
    margin: auto;
    margin-top: 20px;
}

.containerLoginUser{
    background: linear-gradient(150deg,#662d91,#7704a1,#000);
}

.titleLoginUser h1{
    font-family: "Special Gothic Expanded One", sans-serif;
}

.containerRegisterUser{
    background: linear-gradient(#000,#000,#662d91,#662d91);
}

.titleRegisterUser h1{
    font-family: "Special Gothic Expanded One", sans-serif;
}













