#navIndex{
    max-height: auto;
    min-height: 150px;
    padding: 0 40px;
    background: linear-gradient(#662d91,#7704a1);
    box-shadow: 6px 15px 20px #000;
}

#navIndex .navbar-brand img{
    width: 150px;
}

#navIndex .navbar-nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-size: 20px;
}

#navIndex .navbar-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#navIndex .navbar-collapse{
    padding-bottom: 25px;
}

#navIndex .navbar-toggler{
    background-color: #fff;
    color: #662d91;
    font-size: 25px;
}

#navIndex .navbar-nav .btnIngresar{
    background-color: #fff;
    color: #7704a1;
    padding: 10px;
    border-radius: 10px;
    font-weight: 800;
}

#navIndex .navbar-nav .btnIngresar:hover{
    opacity: 80%;
}

.loginOption{
    width: 300px;
    height: auto;
    padding: 4px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#662d91,#3d0253);
    border-radius: 20px;
}

.loginOption:hover{
    border: solid 3px #fff;
}

.loginOption-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.loginOption-content .rol{
    color: #fff;
    font-size: 25px;
    font-weight: 900;
    margin-top: 15px;
}

.iconoContainer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 3px #fff;
}

.iconoContainer p{
    color: #fff;
    font-size: 35px;
}

.loginOption i{
    color: #fff;
    font-size: 100px;
}


@media screen and (min-width:768px){
    #navIndex{
        padding: 0 0;
        padding-left: 10%;
        padding-right: 10%;
        max-height: 100%;
        min-height: 170px;
    }
    #navIndex .navbar-toggler{
        background-color: #fff;
        color: #662d91;
        font-size: 24px;
    }
    #navIndex .navbar-collapse{
        padding-bottom: 25px;
    }
    #navIndex .navbar-brand img{
        width: 130px;
    }
    #navIndex .navbar-nav{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }
}

@media screen and (min-width:1200px){
    #navIndex {
        height: 100%;
        padding-left: 12%;
        padding-right: 12%;
    }
    #navIndex .navbar-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #navIndex .navbar-collapse{
        padding-bottom: 25px;
    }
    #navIndex .navbar-brand img{
        width: 200px;
    }
    #navIndex .navbar-toggler{
        background-color: #fff;
        color: #662d91;
        font-size: 35px;
    }
}

@media screen and (min-width:1440px){
    #navIndex {
        padding-left: 6%;
        padding-right: 6%;
        max-height: auto;
        height: 180px;
    }
    #navIndex .navbar-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .loginOption{
        width: 300px;
        padding: 10px;
    }
    .iconoContainer i{
        font-size: 100px;
    }
    .iconoContainer p{
        font-size: 25px;
    }
}











