#navIndex{
    max-height: auto;
    min-height: 150px;
    padding: 0 40px;
    background: linear-gradient(#662d91,#7704a1);
    box-shadow: 6px 15px 20px #000;
}

#navIndex .navbar-brand img{
    width: 150px;
}

#navIndex .navbar-nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-size: 20px;
}

#navIndex .navbar-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#navIndex .navbar-collapse{
    padding-bottom: 25px;
}

#navIndex .navbar-toggler{
    background-color: #fff;
    color: #662d91;
    font-size: 25px;
}

#navIndex .navbar-nav .btnIngresar{
    background-color: #fff;
    color: #7704a1;
    padding: 10px;
    border-radius: 10px;
    font-weight: 800;
}

#navIndex .navbar-nav .btnIngresar:hover{
    opacity: 80%;
}

.index-container{
    width: 100%;
    height: calc(100vh - 150px);
    background: linear-gradient(#7704a1,#7704a1,#000,#101010);
}

.contentIndex{
    height: 450px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contentIndex .tituloIndex{
    font-family: "Special Gothic Expanded One", sans-serif;
    color: #fff;
    font-size: 40px;
    text-shadow: 6px 6px 4px #000;
}

.contentIndex .introIndex{
    color: #fff;
    width: 350px;
    font-weight: 200;
    font-size: 12px;
}

.contentIndex .btnIndexBox{
    margin-top: 20px;
}

.contentIndex .btnIndex{
    background-color: #fff;
    color: #662d91;
    border: none;
    padding: 12px;
    font-size: 20px;
    width: 140px;
    font-weight: bold;
    border-radius: 10px;
    margin: auto;
    text-decoration: none;
}

.contentIndex .btnIndex:hover{
    opacity: 85%;
}

.comenzar-container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#7704a1,#000,#101010);
}

.tituloComenzar{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloComenzar h1{
    width: 300px;
    background-color: #000;
    color: #fff;
    padding: 40px;
    font-size: 30px;
    box-shadow: 16px 16px 15px #000;
    border: solid 5px #7704a1;
}

.opcionesIngreso a{
    text-decoration: none;
}

.opcionesIngreso{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.containerLoginUser{
    height: 100vh;
    width: 100%;
    background: linear-gradient(150deg,#662d91,#7704a1,#000);
}

.titleLoginUser{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleLoginUser h1{
    background-color: #000;
    box-shadow: 7px 10px 15px #000;
    font-family: "Special Gothic Expanded One", sans-serif;
    color: #fff;
    font-size: 32px;
    padding: 12px;
}

.contentLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.contentLogin form{
    box-shadow: 7px 7px 15px #000;
    width: 340px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.contentLogin form label{
    color: #fff;
}

.contentLogin form button{
    width: 150px;
    padding: 10px;
    margin: auto;
    border: none;
    background-color: #000;
    color: #fff;
}

.contentLogin form button:hover{
    background-color: #fff;
    color: #000;
}

.contentLogin a{
    text-decoration: underline;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
}


@media screen and (min-width:768px) {
    #navIndex{
        padding: 0 0;
        padding-left: 10%;
        padding-right: 10%;
        max-height: 100%;
        min-height: 170px;
    }
    #navIndex .navbar-toggler{
        background-color: #fff;
        color: #662d91;
        font-size: 24px;
    }
    #navIndex .navbar-collapse{
        padding-bottom: 25px;
    }
    #navIndex .navbar-brand img{
        width: 130px;
    }
    #navIndex .navbar-nav{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }
    .index-container{
        max-height: calc(100vh - 170px);
    }
    .contentIndex{
        height: 450px;
        gap: 15px;
    }
    .contentIndex .tituloIndex{
        font-size: 50px;
        width: 100%;
    }
    .contentIndex .introIndex{
        font-size: 18px;
        width: 700px;
    }
    .tituloComenzar h1{
        width: 700px;
        text-align: center;
        font-size: 50px;
    }
    .opcionesIngreso{
        flex-direction: row;
        gap: 90px;
    }
    .containerLoginUser{
        height: 100vh;
        width: 100%;
        background: linear-gradient(150deg,#662d91,#7704a1,#000);
    }
    .titleLoginUser h1{
        background-color: #000;
        box-shadow: 7px 10px 15px #000;
        font-family: "Special Gothic Expanded One", sans-serif;
        color: #fff;
        font-size: 50px;
        padding: 16px;
        text-align: center;
        width: 650px;
    }
    .contentLogin{
        display: flex;
        width: 600px;
        height: 300px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .contentLogin form{
        box-shadow: 7px 7px 15px #000;
        width: 100%;
        height: 300px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }
    .contentLogin form label{
        color: #fff;
    }
    .contentLogin form button{
        width: 150px;
        padding: 10px;
        margin: auto;
        border: none;
        background-color: #000;
        color: #fff;
    }
    .contentLogin form button:hover{
        background-color: #fff;
        color: #000;
    }
    .contentLogin a{
        text-decoration: underline;
        color: #fff;
        font-size: 18px;
        margin-top: 20px;
    }
}

@media screen and (min-width: 1200px) {
    #navIndex {
        height: 100%;
        padding-left: 12%;
        padding-right: 12%;
    }
    #navIndex .navbar-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #navIndex .navbar-collapse{
        padding-bottom: 25px;
    }
    #navIndex .navbar-brand img{
        width: 200px;
    }
    #navIndex .navbar-toggler{
        background-color: #fff;
        color: #662d91;
        font-size: 35px;
    }
    .contentIndex {
        width: 100%;
        gap: 20px;
    }
    .contentIndex .tituloIndex {
        font-size: 60px;
        width: 100%;
        text-align: center;
    }
    .contentIndex .introIndex {
        font-size: 15px;
        width: 480px;
        text-align: center;
    }
    .contentIndex .introIndex{
        width: 700px;
        font-size: 20px;
    }
    .tituloComenzar h1{
        width: 700px;
        text-align: center;
        font-size: 50px;
    }
    .opcionesIngreso{
        flex-direction: row;
        gap: 90px;
    }
    .containerLoginUser{
        height: 100vh;
        width: 100%;
        background: linear-gradient(150deg,#662d91,#7704a1,#000);
    }
    .titleLoginUser h1{
        background-color: #000;
        box-shadow: 7px 10px 15px #000;
        font-family: "Special Gothic Expanded One", sans-serif;
        color: #fff;
        font-size: 60px;
        padding: 18px;
        text-align: center;
        width: 800px;
    }
    .contentLogin{
        display: flex;
        width: 600px;
        height: 500px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .contentLogin form{
        box-shadow: 7px 7px 15px #000;
        width: 100%;
        height: 300px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }
    .contentLogin form label{
        color: #fff;
    }
    .contentLogin form button{
        width: 150px;
        padding: 10px;
        margin: auto;
        border: none;
        background-color: #000;
        color: #fff;
    }
    .contentLogin form button:hover{
        background-color: #fff;
        color: #000;
    }
    .contentLogin a{
        text-decoration: underline;
        color: #fff;
        font-size: 18px;
        margin-top: 20px;
    }
}

@media screen and (min-width: 1440px) {
    #navIndex {
        padding-left: 6%;
        padding-right: 6%;
        max-height: auto;
        height: 180px;
    }
    #navIndex .navbar-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .index-container{
        max-height: calc(100vh - 180px);
    }
    .contentIndex {
        height: 600px;
        gap: 30px;
    }
    .contentIndex .tituloIndex {
        font-size: 80px;
        width: 1200px;
    }
    .contentIndex .introIndex {
        font-size: 20px;
        width: 900px;
    }
    .tituloComenzar h1{
        width: 700px;
        text-align: center;
        font-size: 50px;
    }
    .opcionesIngreso{
        flex-direction: row;
        gap: 90px;
    }
    .containerLoginUser{
        height: 100vh;
        width: 100%;
        background: linear-gradient(150deg,#662d91,#7704a1,#000);
    }
    .titleLoginUser h1{
        background-color: #000;
        box-shadow: 7px 10px 15px #000;
        font-family: "Special Gothic Expanded One", sans-serif;
        color: #fff;
        font-size: 60px;
        padding: 18px;
        text-align: center;
        width: 800px;
    }
    .contentLogin{
        display: flex;
        width: 600px;
        height: 500px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .contentLogin form{
        box-shadow: 7px 7px 15px #000;
        width: 100%;
        height: 300px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }
    .contentLogin form label{
        color: #fff;
    }
    .contentLogin form button{
        width: 150px;
        padding: 10px;
        margin: auto;
        border: none;
        background-color: #000;
        color: #fff;
    }
    .contentLogin form button:hover{
        background-color: #fff;
        color: #000;
    }
    .contentLogin a{
        text-decoration: underline;
        color: #fff;
        font-size: 18px;
        margin-top: 20px;
    }
}














