.loginOption{
    width: 300px;
    height: auto;
    padding: 4px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#662d91,#3d0253);
    border-radius: 20px;
}

.loginOption:hover{
    border: solid 3px #fff;
}

.loginOption-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.loginOption-content .rol{
    color: #fff;
    font-size: 25px;
    font-weight: 900;
    margin-top: 15px;
}

.iconoContainer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 3px #fff;
}

.iconoContainer p{
    color: #fff;
    font-size: 35px;
}

.loginOption i{
    color: #fff;
    font-size: 100px;
}


@media screen and (min-width:768px){
    
}

@media screen and (min-width:1200px){

}

@media screen and (min-width:1440px){
    .loginOption{
        width: 300px;
        padding: 10px;
    }
    .iconoContainer i{
        font-size: 100px;
    }
    .iconoContainer p{
        font-size: 25px;
    }
}











